.button
{
    -fx-background-color: White;
    -fx-background-radius: 30 30 30 30;
    -fx-effect: dropshadow(three-pass-box,#E5EAE9,2,3,3,5);

}
.button:hover
{
    -fx-background-color: #F5B041;
    -fx-background-radius: 30 30 30 30;
    -fx-effect: dropshadow(three-pass-box,#E5EAE9,0,0,0,5);
}
.button:pressed
{
    -fx-background-color: #CACFD2;
    -fx-background-radius: 30 30 30 30;
    -fx-effect: dropshadow(three-pass-box,#E5EAE9,0,0,0,5);
}
.photoshadow{
    -fx-effect:dropshadow(three-pass-box,#C4C4C4,1,1,1,1);
}
